main {
    background-color: #333;
    color: #fff;
}



.country-flag {
    max-width: 32px;

    filter: drop-shadow(0 0 1px rgba(0,0,0,.5));
}






.production-card {
    aspect-ratio: 342/513;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.poster {
    object-fit: cover;
}
.movie-details {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.9);
}
.movie-details > .h-100 {
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}




/* * DEBUG */
.fa-regular {
    /* color: transparent; */
    color: rgba(0,0,0,.5);

    /* filter: drop-shadow(0 0 1px rgba(0,0,0,1));
    border: 1px solid blue;
    outline: 1px solid red; */
}