#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.navbar-brand {
    color: red;
    font-weight: bold;
}



main {
    background-color: #333;
    color: #fff;

    flex-grow: 1;
}



.country-flag {
    /* max-width: 1.5rem; */
    max-width: 1.5em;

    /* filter: drop-shadow(0 0 1px rgba(255,255,255,.5)); */
}





.production-card {
    aspect-ratio: 342/513;
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.poster {
    object-fit: cover;
}
.movie-details {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.9);
}
.movie-details > .h-100 {
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}




.fa-regular {
    color: rgba(255,255,255,.25);
}